body{
    background-image:  url("../image/wp153122.jpg");
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

$iconSize : 50px;
nav{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 65, 177, 0.7);
    border-top:  1px solid navy;
    height: $iconSize;
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    .AppButton{
        $size: $iconSize;
        width: $size;
        height: $size;
        background: no-repeat;
        background-size: $size*2 $size;
        margin-right: 5px;
        float: left;
        margin-right: 30px;
    }
    .AppButton:hover{
        cursor: pointer;
        background-position: -$iconSize;
    }
    .ChatButton{
        background-image: url('../image/double-chat-sprite.png');
    }
    .MemoryButton{
        background-image: url('../image/cards-sprite.png');
    }
}

.Window{
    min-width: 200px;
    border: 2px solid #0059F4;
    outline: 1px solid navy;
    display:inline-block;
    position: absolute;

    .WindowNav{
        height: 40px;
        background-color: #0059F4;
        color: white;
        $size : 30px;
        .WindowIcon{
            height: $size;
            width: $size;
            float: left;
            position: relative;
            margin: 2px 2px;
            background-position: -30px;
            background-size: 60px 30px;
        }
        .WindowTitle{
            float: left;
            position: relative;
            margin-top: 8px;
            margin-left: 5px;
        }
        .WindowClose{
           height: 30px;
           width: 30px;
           position: absolute;
           right: 4px;
           top: 3px;
           background-image: url('../image/close-sprite.png') ;
           background-size: 60px 30px;
        }
        .WindowClose:hover{
            background-position: -30px;
            cursor: pointer;
        }
    }
    .WindowNav:hover{
        cursor: default
    }

    .WindowContent{
        padding: 10px;
        background-color: rgb(245, 245, 245); 
        border: 1px solid navy;
        overflow: auto;
        white-space: nowrap;
        .Messages{
            height: 200px;
            overflow-y: scroll;
            border: 1px solid black;
            margin-bottom: 10px;
            background-color: white;
            p{
                margin: 10px 10px;
            }
            .Username{
                color: gray !important;
            }
        }
        textarea{
            margin-right: 10px;
            float: left;
            position: relative;
            height: 50px;
            width: 75%;
        }
        input[type=button]{
            position: relative;
            float: right;
            height: 50px;
        }
        .MemoryImage {
            height: 100px;
            width: 100px;
        }
        .Removed {
            visibility: hidden;
        }
        a:focus{
            outline: 2px solid rgb(0, 110, 255);
        }
    }
}
$inactiveColor : rgb(104, 160, 255);
.Inactive{
    background-color: $inactiveColor !important;
    border-color: $inactiveColor !important;
    .WindowIcon{
        background-position: 0px 0px !important;
    }
}