# Node.js
node_modules/

# Parcel 2 cache directory
.parcel-cache/

# Parcel 2 output directory
devbuild/
dist/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Custom build output directories (if you use different ones)
# build/
# out/
